<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport content="width=device-width, initial-scale=1.0">
    <title>Videos</title>

</head>
<body>
     <form actions="" method="POST">
         {% csrf_token %}

         <br><br>
         <div class="alert alert-danger" roles="alert">
              Estas seguro de borrar video # "{{ videos.id}}"?
         </div>

         <p>
             <a href="{% url 'show_videos %}"<>-- Regresar</a>
         </p>

         <p>

             <input class="btn btn-danger" type="submit" value="Confirmar"
         </p>
     </form>
</body>
</html>